*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
     
        color: #000000;
    
}  

a:hover {
    color: rgb(194, 0, 0);
   }
.cabecalho {
    background: linear-gradient(-45deg, #dac615, #0e9b02, #2326d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 10vh;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px 0px;
    animation-name: zoom;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes zoom{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.cabecalho-imagem {
    
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.inicio-um{

   background-image: linear-gradient(#9c9c9c,#ffffff);
   color: rgb(0, 0, 0);
   display: flex;padding-right: 20;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}
 
.introducao{
    width: 35%;
}
 
.inicio-titulo{
    padding: 24px 0;
    font-family: 'Oswald', sans-serif;
}

.inicio-texto{
    font-family: 'Oswald', sans-serif;
    padding: 24px 0;
    padding-block-end: 500px;
} 

.algoritimos{
    background-image: linear-gradient(#9c9c9c,#ffffff);
   color: rgb(0, 0, 0);
   display: flex;padding-right: 20;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}

.algoritimo{
    width: 35%;
}

.algoritimo-texto-2{
    font-family: 'Oswald', sans-serif;
    padding: 24px 0;
    padding-block-end: 180px;
}

.algoritimo-texto-1{
    font-family: 'Oswald', sans-serif;
    padding: 24px 0;
}

.algoritimo-titulo{
    padding: 24px 0;
    font-family: 'Oswald', sans-serif;
}

.alogoritimo-imagem{
    display: flex;
}

.rodape{
    background: linear-gradient(-45deg, #dac615, #0e9b02, #2326d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 10vh;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 0px;
    animation-name: zoom;
    animation-duration: 5s;
    animation-iteration-count: infinite

}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;

}
#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;   
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;          
  }